table{
    border: 2px solid black;
    border-collapse: collapse;
}
td,th{
    border: 2px solid black;
    padding: 10px;
    background-color: azure;
}
tr:hover{
    background-color:brown;
    color: bisque;
}
#col_head > th{
    border: 2px solid black;
    padding: 10px;
    background-color: blue;
}
#total{
    background-color: green;
}
body{
    background-color: cadetblue;
}